#ifndef SECRETS_H_
#define SECRETS_H_

// your wifi credentials
#define WIFI_SSID "MyWiFi"
#define WIFI_PASS "password"

// InfluxDB v2 server or cloud API token (Use: InfluxDB UI -> Data -> API Tokens -> Generate API Token)
#define INFLUXDB_TOKEN "server token"
// InfluxDB v2 organization id (Use: InfluxDB UI -> Settings -> Profile -> <name under tile> )
#define INFLUXDB_ORG "org id"

#endif